@model IEnumerable<ITHelpDesk.Models.Request>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";

    string className = "";
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Заявки</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-area="Manager" asp-controller="Workers"><i class="fas fa-list"></i> &nbsp; Workers List</a>
    </div>
</div>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon font-icon-wrapper font-icon-lg">
                <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>
                <h2 class="text-info">All Requests</h2>
                <div class="page-title-subheading">
                    Here you can get information, lock and unlock users
                </div>
            </div>
        </div>
        <div class="page-title-actions">

        </div>
        @*<div class="page-title-actions">
                <a class="mb-2 mr-2 btn-transition btn btn-outline-info waves-effect" asp-area="HeadManager" asp-controller="Workers">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                    &nbsp; Employees
                </a>
            </div>*@
    </div>
</div>

<br />
<div class="main-card mb-3 card">


    <div class="normal-table-list mg-t-30">
        <div class="basic-tb-hd">
            <button class="btn btn-cyan cyan-icon-notika waves-effect tooltip-info" onclick="load();" data-toggle="tooltip" data-placement="top" title="" data-original-title="New Requests">
                <i class="notika-icon notika-alarm"></i>
            </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-orange orange-icon-notika waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Requests in Control">
                <i class="notika-icon notika-support"></i>
            </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-deeporange deeporange-icon-notika waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Requests Uncompleted">
                <i class="notika-icon notika-draft"></i>
            </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-lightgreen lightgreen-icon-notika waves-effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Requests Completed">
                <i class="notika-icon notika-success"></i>
            </button>
        </div>
        <div class="bsc-tbl-cls ">
            <table class="table table-cl" id="table">

                <thead>
                    <tr class="">
                        <th width="120px" data-field="Title">
                            Title
                        </th>
                        <th width="200px" data-field="Description">
                            Description
                        </th>

                        <th data-field="Status">
                            Status
                        </th>
                        <th data-field="Weight">
                            RWeight
                        </th>
                        <th data-field="DateTime">
                            DateTime
                        </th>
                        <th data-field="Address">
                            Address
                        </th>
                        <th data-field="Room">
                            Room
                        </th>

                        <th data-field="Requester">
                            Requester
                        </th>
                        <th data-field="Worker">
                            Worker
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        if (item.RStatus == "blue")
                        {
                            className = "bg-info";

                        }
                        if (item.RStatus == "yellow")
                        {
                            className = "bg-warning";

                        }
                        if (item.RStatus == "red")
                        {
                            className = "bg-danger";

                        }
                        if (item.RStatus == "green")
                        {
                            className = "bg-success";

                        }

                        <tr class=@className>
                            <td>
                                @Html.DisplayFor(modelItem => item.RName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RDescription)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.RStatus)
                            </td>



                            <td>
                                @Html.DisplayFor(modelItem => item.RWeight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RDateTime)
                            </td>
                            <td>


                                @Html.DisplayFor(modelItem => item.Address.Full)


                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Room)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Requestmaker.User.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Worker.User.Fullname)
                            </td>

                            <td>

                                <div class="text-center" style="width:100px">
                                    <a asp-action="Edit" asp-route-id="@item.RequestId" class="btn btn-success text-white" style="cursor:pointer">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-info text-white" style="cursor:pointer">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                    @*<a asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-danger text-white" style="cursor:pointer">
                                <i class="fas fa-trash-alt"></i>
                            </a>*@
                                </div>
                            </td>
                        </tr>



                    }
                    </tbody>

                <tfoot>
                    <tr class="">
                        <th width="120px" data-field="Title">
                            Title
                        </th>
                        <th width="200px" data-field="Description">
                            Description
                        </th>

                        <th data-field="Status">
                            Status
                        </th>
                        <th data-field="Weight">
                            RWeight
                        </th>
                        <th data-field="DateTime">
                            DateTime
                        </th>
                        <th data-field="Address">
                            Address
                        </th>
                        <th data-field="Room">
                            Room
                        </th>

                        <th data-field="Requester">
                            Requester
                        </th>
                        <th data-field="Worker">
                            Worker
                        </th>
                        <th></th>
                    </tr>
                </tfoot>

               
            </table>

        </div>

        </div>
    </div>

        @*<div class="text-center">
                <a href="/Admin/Address/Upsert/AddressId" class="btn btn-success text-white" style="cursor:pointer">
                    <i class="fas fa-edit"></i>
                </a>
                <a  class="btn btn-danger text-white" style="cursor:pointer">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>*@




        
          
