@using ITHelpDesk.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model dynamic


@{int counter = 0;}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                    </i>
                </div>
                <div>
                    @Localizer["title"]
                    <div class="page-title-subheading">
                        @Localizer["here"]

                    </div>
                </div>
            </div>
            @*<div class="page-title-actions">
                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>

                </div>*@
        </div>
    </div>
    <!-- Contact area Start-->

    <div class="row">
        @foreach (Workers worker in Model.Workers)
        {
            counter++;
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list">
                    <div class="contact-win">
                        <div class="contact-img">
                            <img src="~/assets/images/avatars/1.png" alt="Портрет" />
                        </div>
                        <div class="conct-sc-ic">


                            <a class="btn" href="tel:@worker.User.PhoneNumber"><i class="notika-icon notika-phone"></i></a>
                            <form method="post">
                                <a class="btn form-control" type="submit" asp-action="Download_Config" asp-area="HeadManager" asp-controller="Workers" asp-route-WorkerId="@worker.WorkerId"
                                   data-toggle="tooltip" data-placement="bottom" data-original-title="@Localizer["resume"]">
                                    <i class="notika-icon notika-file"></i>
                                </a>
                            </form>

                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h2>@worker.User.Fullname</h2>
                            <p class="ctn-ads">@worker.User.Address.Building</p>
                        </div>
                        <p>@Localizer["mind"]</p>
                    </div>
                    <div class="social-st-list">
                        <div class="social-sn">
                            <h2>Рейтинг</h2>
                            <p>@counter</p>
                        </div>
                        <div class="social-sn">
                            <h2>Балл</h2>
                            @if (worker.Score == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                <p>@worker.Score</p>
                            }
                        </div>
                        <div class="social-sn">
                            <h2>@Localizer["tasks"]</h2>
                            <p></p>
                            @if (worker.NOfWorks == null)
                            {
                                <p>0</p>
                            }
                            else
                            {
                                <p>@worker.NOfWorks</p>
                            }
                        </div>
                    </div>
                </div>





                @*<form asp-action="Upload_Config" asp-area="HeadManager" asp-controller="Workers" method="post" enctype="multipart/form-data">
                        <div class="custom-file mb-3">

                            <input type="file" class="custom-file-input" id="customFile" onclick="Good" name="WorkerId" value="@worker.WorkerId" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>

                    </form>*@

                <form asp-action="Upload_Config" asp-area="HeadManager" asp-controller="Workers" method="post" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <div class="card" style="background:white">
                            <label style="color:darkcyan; cursor: pointer;">
                                &nbsp;&nbsp;&nbsp;@Localizer["choose"]
                                <input type="file" class="" accept=".doc,.docx, .pdf, application/vnd.ms-word.document.macroEnabled.12,application/vnd.ms-word" style="display:none;" onchange="this.form.submit()" name="file" />
                                <input type="text" onclick="Good" class="invisible " name="WorkerId" value="@worker.WorkerId" />

                            </label>
                        </div>
                    </div>
                </form>

            </div>
        }


        <br />

        <!-- Contact area End-->

    </div>
</div>

