@model IEnumerable<ITHelpDesk.Models.Workers>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Ҳисоботлар ойнаси";
    int counter = 0;

}







<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-wallet icon-gradient bg-plum-plate"> </i>
            </div>
            <div>
                @Localizer["title"]
                <div class="page-title-subheading">
                    @Localizer["here"]
                </div>
            </div>
        </div>
        @*<div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>

            </div>*@
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        @Localizer["workers"]
        @*<div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
                <button class="active btn btn-focus">Last Week</button>
                <button class="btn btn-focus">All Month</button>
            </div>
        </div>*@
    </div>
    <div class="data-table-list">
        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="table-manage">
                <thead>
                    <tr>
                        <th>
                            Рейтинг
                        </th>
                        <th>
                            @Localizer["name"]
                        </th>
                        <th>
                            Балл
                        </th>
                        <th>
                            @Localizer["done"]
                        </th>
                        <th>
                            @Localizer["state"]
                        </th>

                        <th>
                            @Localizer["queue"]
                        </th>
                        <th>
                            @Localizer["manager"]
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Score)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOfWorks)
                            </td>
                            @if (item.State == "working")
                            {
                        <td>
                            @Localizer["working"]
                        </td>
                            }
                            else
                            {
                        <td>
                            @Localizer["notworking"]
                        </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Queue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manager.User.Fullname)
                            </td>

                            @*<td>
                                    <form asp-action="Upload_Config" asp-area="HeadManager" asp-controller="Workers" method="post" enctype="multipart/form-data">
                                        <label style="color:#527BFF">
                                            <input type="file" id="postFile" style="display:none;" onchange="this.form.submit()" name="file" />
                                            <input type="text" id="postFile" onclick="Good" class="invisible" name="WorkerId" value="@item.WorkerId" />
                                            Yuklash
                                        </label>

                                    </form>
                                    <form asp-action="Download_Config" asp-area="HeadManager" asp-controller="Workers" method="get" enctype="multipart/form-data">
                                        <label style="color:#527BFF">
                                            <input type="submit" style="display:none;" name="file" />
                                            <input type="text" class="invisible" name="WorkerId" value="@item.WorkerId" />
                                            Yuklab olish
                                        </label>
                                    </form>
                                </td>

                                <td>
                                    <a asp-action="Details" asp-route-id="@item.WorkerId">Details</a> |
                                    <a asp-action="Edit" asp-route-id="@item.WorkerId">Edit</a>
                                </td>*@
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


<!--Alert-->
