@model IEnumerable<ITHelpDesk.Models.Request>

@{
    ViewData["Title"] = "Index";

    string className = "";
}

    
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon font-icon-wrapper font-icon-lg">
                        <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>
                        <h2 class="" style="color: #00BCD4;">My Requests</h2>
                        <div class="page-title-subheading">

                        </div>
                    </div>
                </div>
                <div class="page-title-actions">

                </div>
                <div class="page-title-actions">


                    <a class="btn btn-cyan cyan-icon-notika waves-effect" asp-area="Requester" asp-controller="RequestSSender" asp-action="Create">
                        <i class="notika-icon notika-plus-symbol"></i> New Request
                    </a>


                </div>
            </div>
        </div>

        <br />


        <div class="data-table-area">
          
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                            @*<div class="basic-tb-hd">
                                <h2>Basic Example</h2>
                                <p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>
                            </div>*@
                            <div class="table-responsive">
                                <div id="data-table-basic_wrapper" class="dataTables_wrapper">
                                    <div class="dataTables_length" id="data-table-basic_length"><label>Show <select name="data-table-basic_length" aria-controls="data-table-basic" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="data-table-basic_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="data-table-basic"></label></div><table id="data-table-basic" class="table table-striped dataTable" role="grid" aria-describedby="data-table-basic_info">
                                        <thead>
                                            <tr class="table-info">
                                                <th>
                                                    Request Name
                                                </th>
                                                <th>
                                                    Descripion
                                                </th>

                                                <th>
                                                    Status
                                                </th>

                                                <th>
                                                    DateTime
                                                </th>
                                                <th>
                                                    Address
                                                </th>
                                                <th>
                                                    Room
                                                </th>
                                                <th>
                                                    Manager
                                                </th>


                                                <th>
                                                    Worker
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RDescription)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RStatus)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RDateTime)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address.Full)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Room)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Manager.User.Fullname)
                                                        @Html.DisplayFor(modelItem => item.Manager.User.PhoneNumber)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Worker.User.Fullname)
                                                        @Html.DisplayFor(modelItem => item.Worker.User.PhoneNumber)
                                                    </td>
                                                    <td>

                                                        <div class="text-center" style="width:100px">
                                                            <a asp-action="Edit" asp-route-id="@item.RequestId" class="btn btn-teal teal-icon-notika waves-effect" style="cursor:pointer">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-cyan cyan-icon-notika waves-effect" style="cursor:pointer">
                                                                <i class="fas fa-info-circle"></i>
                                                            </a>
                                                            @*<a asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-danger text-white" style="cursor:pointer">
                                    <i class="fas fa-trash-alt"></i>
                                </a>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

            


