@model IEnumerable<ITHelpDesk.Models.RequestMakers>

@{
    ViewData["Title"] = "Index";
}

<h1>Requesters</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Phone Number
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestmakerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestmakerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestmakerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
