@model IEnumerable<ITHelpDesk.Models.Workers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOfWorks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Manager)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOfWorks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.User.Fullname)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
