@using ITHelpDesk.Models
@using Microsoft.AspNetCore.Identity
@using HelpDesk.DataAccess.Data
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model dynamic

@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _db



@{

    ViewData["Title"] = "Index";

    var userId = UserManager.GetUserId(User);

}


<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-menu icon-gradient bg-ripe-malin">
                    </i>
                </div>
                <div>
                    @Localizer["title"]
                    <div class="page-title-subheading">
                        @Localizer["here"]
                    </div>
                </div>
            </div>
            @*<div class="page-title-actions">
                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>

                </div>*@
        </div>
    </div>
    <!-- Contact area Start-->


    <div class="row">
        @foreach (Workers worker in Model.Workers)
        {

            if (worker.Manager.UserId.Equals(userId))
            {
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-list">
                        <div class="contact-win">
                            <div class="contact-img">
                                <img src="~/assets/images/avatars/1.png" alt="Bashara" />
                            </div>
                            <div class="conct-sc-ic">

                                @*<a class="btn" href=" https://telegram.me/islom_t "><i class="fab fa-telegram-plane"></i></a>*@
                                <a class="btn" href="tel:@worker.User.PhoneNumber"><i class="notika-icon notika-phone"></i></a>

                            </div>
                        </div>
                        <div class="contact-ctn">
                            <div class="contact-ad-hd">
                                <h2>@worker.User.Fullname</h2>
                                <p class="ctn-ads">@worker.User.Address.Building</p>
                            </div>
                            <p>@Localizer["info"]</p>
                        </div>
                        <div class="social-st-list">
                            <div class="social-sn">
                                <h2>Рейтинг</h2>
                                <p>#</p>
                            </div>
                            <div class="social-sn">
                                <h2>Балл</h2>
                                @if (worker.Score == null)
                                {
                                    <p>0</p>
                                }
                                else
                                {
                                    <p>@worker.Score</p>
                                }
                            </div>
                            <div class="social-sn">
                                <h2>@Localizer["tasks"]</h2>
                                <p>@worker.NOfWorks</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <br />

    <!-- Contact area End-->
</div>
